*{margin:0;}
html{
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(113, 173, 252);
}
#loading_img{
    margin: 250px auto;
    width:300px;
    height: auto;
}
#box {
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap;
    vertical-align: text-top;
    margin: 0;
    padding: 0;
    clear: both;
    border-spacing: 5px;
}
.scene{
    display: inline-block;
    margin:0;
}
.me{
    height: auto;
}
.scene1 {

    min-width: 540px;
    width: 4046px;
    font-size: 140px;
 

background-color: rgb(113, 173, 252);
    height:1000px;
    white-space: normal;
    line-height: 1.6;
    /* vertical-align: top; */
    text-align: center;
}
.scene2 {
    /* display: table-cell; */
    min-width: 540px;
    width: 5290px;
    font-size: 140px;
    background-color: rgb(113, 173, 252);
    margin-left: -4px;
    color:aliceblue;
    height:5000px;
   
    line-height: 1.6;
    min-height:720px;
    vertical-align: top;
    text-align: center;
}
.programming-skill{
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    
}
.scene3 {
    /* display: table-cell; */

    width: 4092px;
    font-size: 140px;
    height:2000px;

    /* background-color: blueviolet;  */
    padding: 5px;
    background-size: cover;
    margin-left: -4px;
    white-space: normal;
    line-height: 1.6;
    vertical-align: top;
    text-align: center;
}
.scene4 {
    /* display: table-cell; */
    min-width: 540px;
    width: 540px;
    font-size: 140px;

    padding: 5px;
 
    white-space: normal;
    line-height: 1.6;
    vertical-align: top;
    text-align: center;
}
.scene5 {
    /* display: table-cell; */
    min-width: 540px;
    width: 540px;
    font-size: 140px;
 
    padding: 5px;

    white-space: normal;
    line-height: 1.6;
    /* vertical-align: top; */
    text-align: center;
}
.scene6 {
    /* display: table-cell; */
    min-width: 540px;
    width: 540px;
    font-size: 140px;

   
    padding: 5px;

    white-space: normal;
    line-height: 1.6;
    /* vertical-align: top; */
    text-align: center;
}
.scene7 {
    /* display: table-cell; */
    min-width: 540px;
    width: 540px;
    font-size: 140px;
    border: 2px solid #d1d1d1;
    border-radius: 5px;
    padding: 5px;

    white-space: normal;
  
    vertical-align: top;
    text-align: center;
}
@media screen and (max-width: 768px){
    ::-webkit-scrollbar {
        --webkit-appearance: none;
        scroll-behavior: smooth;
    }
    html{
    
            --webkit-appearance: none;
        scroll-behavior: smooth;
    }
    #box{
        overflow-y: hidden;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    body{
        --webkit-appearance: none;
        scroll-behavior: smooth;
    }
}
#bubbles{
    position: fixed ;
    -webkit-animation: floatBubble 1.5s infinite;
       /* // -webkit-animation-direction:alternate; */
      }
    
    
    @-webkit-keyframes floatBubble{
     from{
            top:380px;
            -webkit-animation-timing-function: ease-in;
    
       }
    
    
       to {
          top: 80px;
          -webkit-animation-timing-function: ease-out;
       }
    
    }